<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>电子书下载</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/ebook.css' %}">
    <link rel="stylesheet" href="{% static 'script/plugin/layer/theme/default/layer.css' %}">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'script/plugin/layer/layer.js' %}" />
    </script>
</head>

<body>
    {% csrf_token %}
    <div class="warp">
        <!--一下是新添加-->
        <form action="/ebook/" method="get">
            {% csrf_token %}
            <input type="text" class="input_search" name="bookname" placeholder="最强弃少" value="{{ bookname }}">
            <input type="submit" class="btn_search" value="查询">
        </form>

        <!--users来自view中的context-->
        {% if books %}
        <table>
            <thead>
                <th>序号</th>
                <th>书名</th>
                <th>作者</th>
                <th>下载</th>
            </thead>
            {% for key,value in books.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.author }}</td>
                <td>
                    <button class="btn_down" data-id="{{ value.urlid }}">离线下载</button>
                </td>
            </tr>
            {% endfor %}

        </table>
        {% endif %}
    </div>

    <footer>—— By Heisenberg<br />2019.10.30</footer>
</body>

<script>
    $(document).on('click', '.btn_down', function () {
        id = $(this).data('id');
        layer.prompt({ title: '请填写您的接收邮箱', value: '' }, function (value, index, elem) {

            var isemail = (/^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/).test(value);

            // if (!isemail) {
            //     layer.alert('您输入的Email格式不正确');
            //     return;
            // }

            var params = {
                // csrf_token 防止重复提交
                'token': $('[name=csrfmiddlewaretoken]').val(),
                'e': value
            };

            $.post('/down/' + id, params, function (data, status) {
                if (data.code == 200) {
                    layer.alert(data.msg, { title: '提交下载任务成功', icon: 1 })
                }
            }, 'json');
            layer.close(index);
        });
    })
</script>

</html>