<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>电子书下载</title>
    <link rel="stylesheet" href="{% static 'css/ebook.css' %}">
</head>

<body>

    <div class="warp">
        <!--一下是新添加-->
        <form action="/ebook/" method="get">
            {% csrf_token %}
            <input type="text" class="input_search" name="bookname" placeholder="最强弃少" value="{{ bookname }}">
            <input type="submit" class="btn_search" value="查询">
        </form>

        <!--users来自view中的context-->
        {% if books %}
        <table>
            <thead>
                <th>序号</th>
                <th>书名</th>
                <th>作者</th>
                <th>下载</th>
            </thead>
            {% for key,value in books.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value.name }}</td>
                <td>{{ value.author }}</td>
                <td>
                    <button class="btn_down">在线阅读</button>
                    <button class="btn_down">离线下载</button>
                </td>
            </tr>
            {% endfor %}

        </table>
        {% endif %}
    </div>

    <footer>—— By Heisenberg<br />2019.10.30</footer>

</body>

</html>